/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    color: #222;
}
/*========Navbar========*/
nav{
    top: 0;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 0.3px solid #f1f1f1;
}
nav .nav_logo{
    width: 70px;
    height: 70px;
    display: block;
    margin: auto 0;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li a{
    color: #444;
    text-decoration: none;
    display: block;
    padding-right: 2vw;
}
nav ul li a:hover{
    color: mediumblue;
}
nav .start_btn{
    text-decoration: none;
    color: #444;
    border: 1px solid orange;
    margin-top: -10px;
    padding: 10px 30px;
    border-radius: 50px 50px 0px 50px;
    font-weight: 400;
}
nav .start_btn:hover{
    background-color: mediumblue;
    color: white;
    border-color: mediumblue;
}
/*========Header========*/
header{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}
header .intro_header_left{
    width: 50%;
}
header .intro_header_left .text_container{ 
    width: 70%;
    display: block;
    margin-left: auto;
}
header .intro_header_left h1{ 
    font-size: 2.5vw;
    font-weight: bolder;
}
header .intro_header_left p{ 
    font-size: 1vw;
    margin-bottom: 40px;
}
header .intro_header_left a{ 
    font-size: 0.8vw;
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 12px 30px;
    border-radius: 10px;
}
header .intro_header_right{
    width: 50%;
}
header .intro_header_right img{
    width: 100%;
    display: block;
    margin-right: auto;
    margin-top: 50px;
}
/* =======Microlearning======= */
.mid_text_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mid_text_container h1{
    text-align: center;
    font-size: 2vw;
    width: 70%;
    font-weight: bolder;
}
.mid_text_container h1 span{
    font-size: 2.5vw;
}
/* =======Features======= */
.feature_sec{
    display: flex;
    align-items: center;
    height: 100vh;
}
.feature_sec .feature_collapse_con{
    width: 50%;
}
.feature_sec .feature_collapse_con .collapse_box{
    width: 70%;
    display: block;
    margin-left: auto;
}
.feature_sec .feature_img_con{
    width: 50%;
}
.feature_sec .feature_img_con img{
    width: 80%;
    display: block;
    margin: 100px auto 0px auto;

}
.feature_sec .feature_collapse_con .collapse_box .collapsible {
    font-size: 19px;
    font-weight: 500;
    background-color: white;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    color: black;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    border-radius: 6px ;
}
  
.feature_sec .feature_collapse_con .collapse_box div.content {
    transition: ease-out;
    transition-duration: 0.4s;
    padding: 0 25px;
    display: none;
    overflow: hidden;
    background-color: white;
}
/* =========Learning========= */
.learning_sec{
    display: flex;
    align-items: center;
    height: 100vh;
}
.learning_sec .learning_header_left{
    width: 50%;
}
.learning_sec .learning_header_right{
    width: 50%;
}
.learning_sec .learning_header_left img {
    width: 50%;
    display: block;
    margin: 100px 30px 0px auto ;
}
.learning_sec .learning_header_right .learning_text_container {
    width: 60%;
}
.learning_sec .learning_header_right .learning_text_container h1{
    font-size: 2.5vw;
    margin-bottom: 20px;
}
.learning_sec .learning_header_right .learning_text_container p{
    font-size: 1vw;
}
.learning_sec .learning_header_right .learning_text_container ol{
    font-size: 1.1vw;
    margin-bottom: 50px;
}
.learning_sec .learning_header_right .learning_text_container a{
    font-size: 1vw;
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 18px;
    border-radius: 5px;
}

/* =======Percantage======= */
.mobile_lxp_sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.mobile_lxp_sec .lxp_header{
    font-size: 27px;
    display: block;
    margin: 0pxauto;
    width: 60%;
    text-align: center;
}
.mobile_lxp_sec .percentage_sec{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile_lxp_sec .percentage_sec div{
    text-align: center;
    margin: 0px 20px;

}
.mobile_lxp_sec .percentage_sec div h1{
    font-size: 40px;

}
.mobile_lxp_sec .percentage_sec div p{
    font-size: 17px;
}
.mobile_lxp_sec .start_sec{
    text-align: center;
}
.mobile_lxp_sec .start_sec h1{
    font-size: 27px ;
}
.mobile_lxp_sec .start_sec p{
    display: block;
    margin: auto;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
    width: 70%;
}
.mobile_lxp_sec .start_sec  a{
    font-size: 17px;
    text-decoration: none;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;

}
/* =======Footer======= */
footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
footer div{
    margin: 20px;
}
footer div img{
    width: 7vw;
}
footer div ul{
    list-style: none;
}
footer div ul li{
    text-decoration: none;
    margin: 20px 0px;
}
footer div ul li a{
    text-decoration: none;
    color: #888;
    font-weight: lighter;
}
footer div h3{
    color: #555;
}
hr{
    border-top: 1px solid orangered;
    width: 55%;

}
.copyright{
    font-size: 13px;
    color: #444;
    text-align: center;
}

@media (max-width: 900px) {
    /* Nav */
    nav{
        padding: 0;
    }
    nav .nav_logo{
        width: 40px;
        height: 40px;
        display: block;
        margin: auto;
    }
    nav ul{
    visibility: hidden;
    }
    /* Intro */
    .intro_header_left{
        flex: 100%;
    }
    .intro_header_right{
        flex: 100%;
    }
    header .intro_header_left h1{ 
        font-size: 20px;
    }
    header .intro_header_left p{ 
        font-size: 12px;
    }
    header .intro_header_left a{ 
        font-size: 12px;
    }
    header .intro_header_left .text_container{ 
        width: 80%;
        display: block;
        margin: auto;
    }
    header .intro_header_right img{
        margin-top: -100px;
        width: 100%;
        display: block;
        margin-right: auto;
    }
    /*==== Mid_Text ==== */
    .mid_text_container h1{
        font-size: 20px;
        width: 90%;
    }
    .mid_text_container h1 span{
        font-size: 25px;
    }
    /*==== Feature ==== */
    .feature_sec{
        display: flex;
        align-items: center;
        height: 100vh;
        flex-wrap: wrap;
    }
    .feature_sec .feature_collapse_con{
        flex: 100%;
    }
    .feature_sec .feature_collapse_con .collapse_box{
        width: 100%;
    }
    .feature_sec .feature_img_con{
        flex: 100%;
    }
    .feature_sec .feature_img_con img{
        width: 100%;
    }
    /*==== Learning ==== */
    .learning_sec{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 30vh;
        height: 100vh;
    }
    .learning_sec .learning_header_left{
        display: none;
    }
    .learning_sec .learning_header_right{
        width: 100%;
    }
    .learning_sec .learning_header_right .learning_text_container {
        width: 80%;
        display: block;
        margin: auto;
        text-align: center;
    }
    .learning_sec .learning_header_right .learning_text_container h1{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .learning_sec .learning_header_right .learning_text_container p{
        font-size: 13px;
    }
    .learning_sec .learning_header_right .learning_text_container ol{
        font-size: 13px;
        margin-bottom: 30px;
    }
    .learning_sec .learning_header_right .learning_text_container a{
        font-size: 13px;
    }
/* =======Percantage======= */
.mobile_lxp_sec{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.mobile_lxp_sec .lxp_header{
    font-size: 22px;
    display: block;
    width: 100%;
    text-align: center;
}
.mobile_lxp_sec .percentage_sec{
    display: flex;
    flex-direction: column;
}

.mobile_lxp_sec .percentage_sec div h1{
    font-size: 40px;
}
.mobile_lxp_sec .start_sec h1{
    font-size: 22px ;   
}
.mobile_lxp_sec .start_sec p{
    font-size: 16px ;   
}
.mobile_lxp_sec .start_sec  a{
    font-size: 13px;
}
    /* ====Footer==== */
    footer{
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        margin-top: 60vh;
    }
    footer div{
        margin: 20px;
        width: 50%;
    }
    footer div img{
        display: none;
        width: 7vw;
    }
    hr{
        display: none;
    }
    .copyright{
        display: none;
    }
}
